<!DOCTYPE html>
<html>
<head>
    <title>My first NeXt topology!</title>
    <link rel="stylesheet" href="./bower_components/next-bower/css/next.css">
    <link rel="stylesheet" href="./app/css/main.css">
    <link rel="stylesheet" href="./app/css/iconfont.css">
    <link rel="stylesheet" href="./app/css/searchform.css">
    <link rel="stylesheet" href="./bower_components/angular-material/angular-material.css">

    <!-- INCLUDE NEXT UI AND ANGULAR -->
    <script type="text/javascript" src="./bower_components/next-bower/js/next.js"></script>
    <script type="text/javascript" src="./bower_components/angular/angular.js"></script>

    <!-- Angular Material Library -->
    <script src="./bower_components/angular-aria/angular-aria.js"></script>
    <script src="./bower_components/angular-animate/angular-animate.js"></script>
    <script src="./bower_components/angular-material/angular-material.js"></script>

</head>
<body ng-app="lispOverlayApp">


    <div ng-controller="navigationController" layout="column">
      <section layout="row">

      <div id="main" layout="column" flex="">

        <md-toolbar layout="row">

            <ng-include src="'./app/templates/searchForm.html'" flex="30" layout-padding layout-align="center center">
            </ng-include>

            <div layout-align="center center" layout="row">
                <md-switch ng-model="view.state" aria-label="View Switch">
                    Switch views
                </md-switch>
            </div>
            
            <span flex></span>

            <md-button class="md-icon-button" ng-click="openSideMenu()" layout-align=" center">
                <i class="material-icons">&#xE5D2;</i>
            </md-button>

        </md-toolbar>
           
        <div id="topology-container">
        </div>

      
      </div>

      <md-sidenav md-component-id="right" class="md-sidenav-right" md-disable-backdrop md-whiteframe="4">
        <ng-include src="'./app/templates/detailMenu.html'"></ng-include>
      </md-sidenav>


    </section>
    </div>

    <script type="text/javascript" src="./app/controllers/navigationController.js"></script>
    <script type="text/javascript" src="./app/controllers/searchFormController.js"></script>
    <script type="text/javascript" src="./app/controllers.js"></script>
    <script type="text/javascript" src="./app/directives.js"></script>

    <script type="text/javascript" src="./app/data.js"></script>
    <script type="text/javascript" src="./app/app.js"></script>

</body>
</html>
