<md-toolbar>
	<div class="md-toolbar-tools">
	    <md-button class="md-icon-button" aria-label="Close" ng-click="closeSideMenu()">
			<i class="material-icons">&#xE5CD;</i>
        </md-button>
	    <h2>
  			<span>{{detailMenuState | uppercase}} details</span>
		</h2>
	</div>
</md-toolbar>

<div ng-switch on="detailMenuState" flex layout>
	<div ng-switch-when="eid" flex layout>
		<ng-include src="'./app/templates/eidDetail.html'" flex layout layout-fill></ng-include>
	</div>
	<div ng-switch-when="xtrid" flex layout>
		<ng-include src="'./app/templates/xtridDetail.html'" flex layout></ng-include>
	</div>
	<div ng-switch-default flex layout>
		<ng-include src="'./app/templates/rlocDetail.html'" flex layout></ng-include>
	</div>
</div>