<div layout="column" layout-padding>
	<div class="detail" >
		Locator-id: {{rloc["locator-id"]}}
	</div>
	<div class="detail">
		Xtr-id: {{rloc["xtrid"]}}
	</div>
	<div class="detail">
		Address: {{rloc.rloc.ipv4}}
	</div>
	<div class="detail">
	    <md-input-container>
			<label>Priority</label>
			<input ng-model="rloc.priority">
			</md-input-container>
	</div>
	<div class="detail">
	    <md-input-container>
			<label>Weight</label>
			<input ng-model="rloc.weight">
		</md-input-container>
	</div>

<!-- 	<md-tabs md-border-bottom md-stretch-tabs="always" flex layout-fill>
		<md-tab label="Connected XTR-IDs" layout-fill>
	    	<md-tab-content class="md-padding" flex layout-fill>
	    		<md-content flex layout-fill>
	      		<md-list flex layout-fill>
	            	<md-list-item class="md-2-line" ng-repeat="xtrid in eid.xtrids" ng-click="null">
						{{xtrid}}
						<md-button class="md-warn md-icon-button md-raised md-secondary">
							<i class="material-icons">&#xE872;</i>
						</md-button>
						<md-divider ng-if="!$last"></md-divider>
					</md-list-item>
				</md-list>
				</md-content>
			</md-tab-content>
		</md-tab>
	</md-tabs>
 -->
 </div>
