<form ng-submit="$event.preventDefault()" ng-controller="searchFormController">
  <md-autocomplete 
      md-selected-item="selectedItem"
      md-item-text="item.id"
      md-search-text="searchText"
      md-search-text-change=""
      md-selected-item-change="selectedItemChange(item)"
      md-items="item in querySearch(searchText)"
      md-min-length="1"
      placeholder="Search EID, XTR or RLOC"
      md-menu-class="autocomplete-custom-template">
    <md-item-template class="inCard">
      <div class="searchItem" layout="column" layout-fill>
        <div ng-switch="item.type">
          <div ng-switch-when="eid">
            <div class="item-title" layout="row" layout-align="start center">
              <img class="icon-img" layout-align="center center" src="./app/img/cloud.png"></img>
              <span> EID: {{item.id}} </span>
            </div>
            <span class="item-metadata" layout="row">
              <span class="item-metastat">
                Number of RLOCs: {{item.nrlocs}}
              </span>
            </span>
          </div>
          <div ng-switch-when="xtr">
            <div class="item-title" layout="row" layout-align="start center">
              <img class="icon-img" layout-align="center center" src="./app/img/router.png"></img>
              <span> XTR: {{item.id}} </span>
            </div>
            <span class="item-metadata" layout="row">
              <span class="item-metastat">
                Number of RLOCs: {{item.nrlocs}}
              </span>
            </span>
          </div>
          <div ng-switch-default>
            <div class="item-title" layout="row" layout-align="start center">
              <img class="icon-img" layout-align="center center" src="./app/img/port.png"></img>
              <span> RLOC: {{item.id}} </span>
            </div>
            <span class="item-metadata" layout="row">
              <span class="item-metastat">
                Address: {{item.address}}
              </span>
            </span>
          </div>
        </div>
      </div>
    </md-item-template>
    <md-not-found>
      No matches found.
    </md-not-found>
  </md-autocomplete>
</form>
