<form ng-submit="$event.preventDefault()" ng-controller="searchFormController">
  <md-autocomplete
      md-selected-item="selectedItem"
      md-item-text="selectedItem.address"
      md-search-text="searchText"
      md-selected-item-change="selectedItemChange(item)"
      md-items="item in querySearch(searchText)"
      md-min-length="0"
      placeholder="Search RLOC or EID"
      md-menu-class="autocomplete-custom-template">
    <md-item-template>
      <div layout="column">
      <span class="item-title">
        <i class="material-icons md-dark md-18" layout-align="center start">&#xE2BD;</i>
        <span> {{item.address}} </span>
      </span>
      <span class="item-metadata" layout="row">
        <span class="item-metastat">
          Number of RLOCs: <strong>{{item.rlocs.length}}</strong>
        </span>
      </span>
      </div>
    </md-item-template>
    <md-not-found>
      No matches found.
    </md-not-found>
  </md-autocomplete>
</form>
